
/* ======== nav1 ========= */

.nav1 a:hover{
    border-bottom: 2px solid rgba(233, 102, 49, 1);
}

.nav2 a:hover{
    border-bottom: 2px solid rgba(233, 102, 49, 1);
}

.heading1 h4 span{
    border-bottom: 1px solid rgba(201, 9, 9, 1);
    width: 200px;
}

/* ============== footer link ============ */

.footer_link a{
    color: black;
    cursor: pointer;
}

.footer_link a:hover{
    color: rgba(201, 9, 9, 1);
}

.heading1 label{
    border: 5px double rgba(201, 9, 9, 1);
}

.linkremove a{
    text-decoration: none;
}